# PyCharm
# http://www.jetbrains.com/pycharm/webhelp/project.html
.idea
.iml
.bak
/odoofile
.log
/addons_ent
/addons_ent_remove
/myaddons
/mypackage
/myconf
/oca
odoo-server.log
app.conf
odoofile/filestore